// font
$fontFamily: PT-Root-UI-VF, system-ui, Avenir, Helvetica, Arial, sans-serif;

// fontWeights
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

// fontSizes
$baseFontSize: 16px;
$fontSizeXXS: 0.8rem;
$fontSizeXs: 0.9rem;
$fontSizeS: 1rem;
$fontLineS: 1.5rem;
$fontSizeXXL: 2rem;
$font-size-xxl: 32px;
$font-Size-XXS: 14px;
$font-Size-XXXS: 12px;
$font-Size-M: 20px;
$font-Size-L: 24px;
$font-Size-Xl: 24px;
$font-Size-XXXl: 40px;
$font-Size-XXXXl: 48px;

// fontColors
$fontColor: #58646a;
$fontColorLink: #288aa7;
$fontLabelColor: #7b878f;
$titleFontColor: #374146;
$linkFontColor: #048aa7;

// sizes
$wideScreenWidth: 1920px;
$desktopScreenWidth: 1280px; $desktopContainerSize: 1120px;
$tabletScreenWidth: 768px; $tabletContainerSize: 704px;
$largeMobileScreenWidth: 560px; $largeMobileContainerSize: 520px;
$mobileScreenWidth: 360px; $mobileContainerSize: 312px;

// colors
$backgroundColor: #ffffff; //$lightPrimary 	--color-text-nav-primary
$colorBgLightPrimary: #f8fbff;
$primary: #7dcdd7; // --color-bg-secondary
$secondary: #374146; //--secondary-color
$accent: #ea5a0a;
$error: #d20202;
$colorBgInputHover: #e0e9f2;
$colorTextNavSecondaryLight: #c7d0da;

// common button colors
$accentHard: #aa4000;
$accentLight: #cc4d00;
$buttonPrimary: $accent;
$buttonPrimaryDark: #374146; //--dark-primary
$buttonPrimaryLight: #f8fbff;
$buttonSecondary: $secondary;
$buttonSecondaryDark: #58646a; //--dark-secondary
$buttonSecondaryLight: #f1f5f9; // --lightSecondary
$buttonOutlineLight: #a0abb5;//	--color-text-nav-secondary
$buttonOutlineDark: #7b878f; //	--color-text-secondary-light
$buttonBlue: #048aa7; //--color-text-link
$buttonDarkBlue: #006b83;

//fonts
$fontSBold: $fontWeightBold $baseFontSize $fontFamily;
$fontSMedium: $fontWeightMedium $baseFontSize $fontFamily;
$fontSSmall: $fontWeightMedium $fontSizeXs $fontFamily;
