// common user colors
$colorSeniorityJunior: #7dcdd7;
$colorSeniorityMiddle: #006b83;
$colorSenioritySenior: #ea5a0a;
$colorStatusJuniorDropShadow: rgba(125, 205, 215, 0.8);
$colorStatusMiddleDropShadow: rgba(0, 107, 131, 0.8);
$colorStatusSeniorDropShadow: rgba(234, 90, 10, 0.8);