@use '@styles/variables' as *;

.head {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border: 1px solid $buttonOutlineLight;
	padding: 3px 8px 3px 8px;
	border-radius: 6px;
	gap: 4px;

	&:hover {
		border: 1px solid $buttonOutlineDark;
	}
	&:focus {
		outline: none;
		border: 1px solid $buttonSecondaryDark;
	}
}

.head_active {
	border: 1px solid $buttonSecondaryDark;
}

.text {
	font: $fontSizeXs;
	color: $fontColor;
	font-weight: $fontWeightMedium;
	line-height: 16px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.text_active {
	color: $titleFontColor;
}

.conteinerVecors {
	display: flex;
	flex-direction: column;
}

.vectorUp {
	display: block;
	margin-left: 4px;
}

.vectorDown {
	display: block;
	margin-left: 4px;
	transform: rotate(180deg);
}
