@use '@styles/variables' as *;

.paginator {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}

.paginator a {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	font-size: $font-Size-XXS;
	line-height: $font-Size-M;
	font-family: $fontFamily;
	color: $fontColor;
	border-radius: 4px;
}

.page {
	&:hover {
		color: $backgroundColor;
		background-color: $primary;
		opacity: 0.5;
	}

	&.current {
		color: $backgroundColor;
		background-color: $primary;
		cursor: default;

		&:hover {
			opacity: 1;
		}
	}
}

.arrow {
	&:hover:not(:disabled) {
		color: $backgroundColor;
		background-color: $primary;
		opacity: 0.5;
	}

	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
}
