@use '@styles/variables' as *;

.containerHero {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
}

.contentHero {
	max-width: 1440px;
}
