@use '@styles/variables' as variables;
@use '@styles/mixins/forms/input' as mixins;

.container {
	width: 100%;
	min-width: 0;
}

.input__controls {
	display: flex;
	align-items: center;
}

.input__field {
	@include mixins.inputField;
	flex: 1; // Занимает все доступное пространство
	min-width: 0; // Разрешает сжатие
}

.input__button {
	@include mixins.inputIconStyle;
	@include mixins.buttonPseudoClasses;
	flex-shrink: 0; // Только для кнопки
}
