@use '@styles/variables' as variables;
@use '@styles/mixins/forms/input' as mixins;

.container {
	@include mixins.inputStyle;
	grid-template-areas:
		'label . controls'
		'input . controls';
	grid-template-columns: 1fr 12px auto;
	grid-template-rows: auto minmax(20px, 1fr);
	flex-shrink: 0;
	@include mixins.inputPseudoClasses;
}

.hidden {
	opacity: 0;
}

.input__controls {
	display: flex;
	align-items: center;
	grid-area: controls;
}

.input__field {
	@include mixins.inputField;
	grid-area: input;
}

.input__button {
	@include mixins.inputIconStyle;
	@include mixins.buttonPseudoClasses;
}

.input__button_question {
	cursor: help;
	position: relative;
	top: 2px;
	left: 2px;
}
