@use '@styles/variables' as *;

.select {
	width: 100%;

	min-width: 272px;
	position: relative;
}

.panel {
	display: flex;
	justify-content: space-between;
	align-items: center; // Добавляем выравнивание по центру
	background-color: #f1f5f9;
	padding: 12px 12px 12px 16px;
	border-radius: 6px;
	border: 1px solid transparent; // Добавляем прозрачный border
	transition: 
	  background-color 0.2s ease,
	  border-color 0.2s ease; // Оптимизируем transition

	&:hover {
		background-color: #e0e9f2;
	}

	&_open {
		background-color: #ffffff;
		border-color: #a0abb5; 
	}
}

.panel__text {
	display: flex;
	flex-direction: column;
	flex-grow: 1; // Занимает все доступное пространство
  min-width: 0; // Фикс для текста
}

.label {
	color: #7b878f;
	font-size: $fontSizeS;
	font-weight: $fontWeightMedium;
	transition: font-size 0.2s ease;
}

.label_active {
	font-size: $fontSizeXXS;
}

.options {
	position: absolute; // Абсолютное позиционирование относительно .select
	width: 100%;
	top: calc(100% + 4px); // Располагаем сразу под основным элементом
	left: 0;
	z-index: 20;
	margin-top: 4px;
	border-radius: 8px;
	padding: 8px 0;
	box-shadow: 0px 4px 24px 0px rgba(0, 77, 95, 0.24);
	background-color: #ffffff;
}

.option {
	padding: 8px 12px 8px 16px;
	cursor: pointer;
	transition: all 0.1s ease;

	&:hover {
		background-color: #f1f5f9;
	}
}

.optionText {
	margin: 0;
	font-size: $fontSizeS;
	font-weight: $fontWeightMedium;

	&:active {
		color: $linkFontColor;
	}
}

.selection {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	min-height: 48px;
	border-radius: 6px;
	padding: 20px 48px 4px 16px;
	background: $buttonSecondaryLight;

	&:hover {
		background: $colorBgInputHover;
		cursor: pointer;
	}

	&:focus {
		outline: 1px solid $buttonOutlineLight;
		background: $backgroundColor;
		cursor: pointer;
	}
}

.placeholder {
	position: absolute;
	top: 12px;
	left: 16px;
	margin: 0;
	color: $buttonOutlineDark;
	font-weight: $fontWeightMedium;
	font-size: $baseFontSize;
	line-height: $fontLineS;
	font-family: $fontFamily;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.value {
	margin: 0;
	color: $titleFontColor;
	font-size: $fontSizeS;
	font-weight: $fontWeightMedium;
}
