@use '@styles/variables' as *;

.container {
	background-color: $backgroundColor;
	display: flex;
	flex-direction: row;
	height: 160px;
	align-items: center;
	column-gap: 32px;

	.image {
		height: 100%;
		width: 160px;
	}
}

.statusImage {
	display: flex;
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: orange;
	align-self: self-start;

	&.circle {
		border-radius: 50%;
		margin: 8px 0px 0px 8px;
	}
	&.square {
		border-radius: 50%;
		margin: -8px 0px 0px -8px;
	}
}

.title {
	display: block;
	font-family: $fontFamily;
	color: $titleFontColor;
	font-size: 32px;
	min-height: 40px;
	margin: 0px;
	line-height: 40px;
}

.infoBlock {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 640px;
	gap: 4px;
}
.infoForUser {
	display: flex;
	flex-direction: row;
	margin-top: 24px;
	column-gap: 48px;
}

.infoDate {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}
.infoWork {
	display: flex;
	flex-direction: row;
	column-gap: 8px;
}

.infoSocial {
	display: flex;
	column-gap: 16px;
}

.imageWorkPlace {
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.infoText {
	display: block;
	font-family: $fontFamily;
	color: $fontColor;
	font-size: 12px;
	height: 16px;
	margin: 0px;
	line-height: 16px;
}

.icon {
	height: 40px;
	width: 40px;
	border: 1px solid rgba(160, 171, 181, 1);
}
